<ScrollView>
  <FlexboxLayout class="page page-login" backgroundImage="res://mesh">
    <StackLayout class="flexbox-item company-name-container">
      <Label class="t-30 company-name" text="K'gasApp"></Label>
    </StackLayout>
    <Image src="res://toilet_logo" stretch="none" class="company-logo"></Image>
    <StackLayout class="flexbox-item">
      <StackLayout class="form">
        <TextField 
          hint="Nombre" 
          class="input input-rounded m-t-20"
          style="placeholder-color: #D5D6DB;"
          [(ngModel)]="input.displayName">
        </TextField>
        <TextField 
          hint="Email" 
          class="input input-rounded m-t-20" 
          style="placeholder-color: #D5D6DB;"
          [(ngModel)]="input.email">
        </TextField>
        <TextField 
          hint="Password"
          secure="true"
          class="input input-rounded m-t-10" 
          style="placeholder-color: #D5D6DB;"
          [(ngModel)]="input.password">
        </TextField>
        <Button class="btn btn-login btn-rounded-sm font-weight-bold t-18" (tap)="register($event)" text="Register"></Button>
        <Button class="btn btn-register" height="40" (tap)="backToLogin()" text="Back to login"></Button>
      </StackLayout>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>