<GridLayout>
    <ScrollView class="backgroundRegister">
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" class="backgroundLoginForm">
                <StackLayout class="input-field">
                    <Label text="Calle" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.calle"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Numero" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.numero"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Colonia" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.colonia"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Codigo Postal" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.cp"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Estado" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="input.estado"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" text="Guardar" (tap)="saveBathroom()"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>